/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

div{
  position: relative; /*Set each div as starting point of position under its container*/
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  margin-top: 0%;
  font-family: Helvetica;
  color: white;
  width: auto;
  padding: 5px;
  display: inline-block; /*set the widht and height as the size of the element*/
  position: absolute; /*set the position relative to its container*/
  right: 0; /* set the position to the right*/
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}