/********** Base styles **********/
body {
    margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

nav>div{
    background-color: teal;
}

#navheader {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tabs {
    font-size: 40px;
}

#desc{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

div{
    width: 100%;
    margin: auto;
    padding: 0;
    font-size: 15px;
}

#anime-title {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 30px;
}
.navbar-inverse{
    background-color: teal;
}

#box{
    margin-left: 50px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#056676;
    text-align: center;
    padding: 20px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: #5eaaa8;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
    color: #056676;
    font-size: 20px;
    font-family: Helvetica;
    text-align: justify;
    padding: 0 30px 30px 30px;
    margin-bottom: 20px;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.navsmall{
    display: none;
}

/********** Large devices only **********/
